<!DOCTYPE html>
<html>
<head>
    <title>kSipP</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    
</head>
<body>
    {% include "header.html" %} 
    
    <div style="float: left; width: 38%;">
    <form method="post" id="mainForm">

        {% csrf_token %}
        {{ selectXml.as_p }}

        <button type="submit" name="submitType" value="checkFlow" style="float: left; margin: 0 10px 10px 0;">Check XML Call Flow</button>
        <div id="MoreOptions" {% if not showMoreOptionsForm %}style="display: none;"{% endif %}>
            <div style="clear: both;">
                <p>Dialed Number: {{moreOptionsForm.called_party_number}}{{moreOptionsForm.called_party_number.errors}}</p>
                <p>Calling Party Number: {{moreOptionsForm.calling_party_number}}{{moreOptionsForm.calling_party_number.errors}}</p>
                <p>No. of Calls: {{moreOptionsForm.total_no_of_calls}}  ||  CPS : {{moreOptionsForm.cps}}</p>
                <p>Stun Server: {{moreOptionsForm.stun_server}}{{moreOptionsForm.stun_server.errors}}</p>
                <!-- {{ moreOptionsForm.as_p }} -->
            </div>
            <button type="submit" name="submitType" value="moreOptionsClose">OK</button>
            
        </div>        
        <button id="showMoreOptions" {% if showMoreOptionsForm %}style="display: none;"{% endif %}>More Options</button>
        <br>
        <div style="clear: both;">
        <p>UAC Remote: {{ ipConfig.uac_remote }} {{ ipConfig.uac_remote_port }}
            {{ ipConfig.uac_remote.errors }}</p>
        <p>UAS Remote: {{ ipConfig.uas_remote }} {{ ipConfig.uas_remote_port }}
            {{ ipConfig.uas_remote.errors }}
        </p>
        <p>Local Address: {{ ipConfig.local_addr }} {{ ipConfig.local_addr.errors }}</p>
        <p>UAC Src Port: {{ ipConfig.src_port_uac }} {{ ipConfig.protocol_uac }}</p>
        <p>UAS Src Port: {{ ipConfig.src_port_uas }} {{ ipConfig.protocol_uas }}</p>
        </div>
        <button id="save_config" type="submit" name="submitType" value="config">Save Config</button>
    </form>
    </div>



    <div style="float: left; width: 52%;">
    
        <h3>Run SipP Scripts</h3>
        <p>uac: <span> {{ print_uac_command }}</span></p>
        <p>uas: <span> {{ print_uas_command }} </span></p>
        <br />

        <form method="post" action="{% url 'run-script' %}" style="float: left; margin-right: 50px;">
            {% csrf_token %}
            <input type="hidden" name="script" value="UAS">
            <input type="submit" value="Run UAS">
        </form>
    
        <form method="post" action="{% url 'run-script' %}" style="float: left; margin-right: 50px;">
            {% csrf_token %}
            <input type="hidden" name="script" value="UAC">
            <input type="submit" value="Run UAC">
        </form>
        <div style="clear: both;"></div>
        <h3>Running SipP Processes:</h3>
        {% if sipp_processes %}
            <ul>
                {% for process in sipp_processes %}
                    <li>
                        pid: {{ process.pid }}, {{ process.command_line }}, {{ process.script_name }}
                        
                        <form method="post" action="{% url 'run-script' %}">
                            {% csrf_token %}
                            <input type="hidden" name="script_name" value="{{ process.script_name}}">
                            <input type="hidden" name="pid_to_kill" value="{{ process.pid }}">
                            <input type="submit" name="send_signal" value="Kill">
                            <input type ="submit" name="send_signal" value="CheckOutput" formtarget="_blank">
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No SipP processes currently running.</p>
        {% endif %}



    </div>
    


    <script>

        //Submit the xml name as soon as selected
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('id_select_uac').addEventListener('change', function() {
                var submitButton = document.getElementById("save_config");
                submitButton.click();
            });
            document.getElementById('id_select_uas').addEventListener('change', function() {
                var submitButton = document.getElementById("save_config");
                submitButton.click();
            });
        });


        //show-hide MoreOptions Form
        const showButton = document.getElementById("showMoreOptions");
        // const hideButton = document.getElementById("hideMoreOptions");
        const MoreOptions = document.getElementById("MoreOptions");
      
        // Function to show the div
        function showDiv() {
            event.preventDefault();
            MoreOptions.style.display = "block";
        }
      
        // Function to hide the div
        function hideButton() {
            event.preventDefault();
            showButton.style.display = "none";
        }
      
        // Add click event listeners to the buttons
        showButton.addEventListener("click", showDiv);
        showButton.addEventListener("click", hideButton);


        document.addEventListener("keydown", function(event) {
        // Check if the key pressed is Enter
            if (event.key === "Enter") {
                // Prevent the default behavior of the Enter key
                event.preventDefault();
                var submitButton = document.getElementById("save_config");
                submitButton.click();
            }
        });

      </script>
      
      

</body>
</html>