<!DOCTYPE html>
<html>
<head>
    <title>kSipP</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    
</head>
<body>
    {% include "header.html" %} 
    
    <div style="float: left; width: 38%;">
    <form method="post" id="mainForm" action="{% url 'index' %}">

        {% csrf_token %}
        <p>UAC xml: {{ selectXml.select_uac }} <a title="Edit" class="xml-li-button" href="/edit-xml/?xml={{config_data.select_uac}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="16px" width="16px" fill="currentColor"><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z"/></svg></a></p>

        <p>UAS xml: {{ selectXml.select_uas }} <a title="Edit" class="xml-li-button" href="/edit-xml/?xml={{config_data.select_uas}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="16px" width="16px" fill="currentColor"><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z"/></svg></a></p>

        <button id="show-flow-button" class="show-flow" data-filename="{{config_data.select_uac}}" data-filename2="{{config_data.select_uas}}" type="button" style="float: left; margin: 0 10px 10px 0;">Check XML Call Flow</button>
        <div id="MoreOptions" {% if not showMoreOptionsForm %}style="display: none;"{% endif %}>
            <div style="clear: both;">
                <p>Dialed Number: {{moreOptionsForm.called_party_number}}{{moreOptionsForm.called_party_number.errors}}</p>
                <p>Calling Party Number: {{moreOptionsForm.calling_party_number}}{{moreOptionsForm.calling_party_number.errors}}</p>
                <p>No. of Calls: {{moreOptionsForm.total_no_of_calls}}  ||  CPS : {{moreOptionsForm.cps}}</p>
                <p>Stun Server: {{moreOptionsForm.stun_server}}{{moreOptionsForm.stun_server.errors}}</p>
                <!-- {{ moreOptionsForm.as_p }} -->
            </div>
            <button type="submit" name="submitType" value="moreOptionsClose">OK</button>
            
        </div>        
        <button id="showMoreOptions" {% if showMoreOptionsForm %}style="display: none;"{% endif %}>More Options</button>
        <br>
        <div style="clear: both;">
        <p>UAC Remote: {{ ipConfig.uac_remote }} {{ ipConfig.uac_remote_port }}
            {{ ipConfig.uac_remote.errors }}</p>
        <p>UAS Remote: {{ ipConfig.uas_remote }} {{ ipConfig.uas_remote_port }}
            {{ ipConfig.uas_remote.errors }}
        </p>
        <p>Local Address: {{ ipConfig.local_addr }} {{ ipConfig.local_addr.errors }}</p>
        <p>UAC Src Port: {{ ipConfig.src_port_uac }} {{ ipConfig.protocol_uac }}</p>
        <p>UAS Src Port: {{ ipConfig.src_port_uas }} {{ ipConfig.protocol_uas }}</p>
        </div>
        <button id="save_config" type="submit" name="submitType" value="config">Save Config</button>
    </form>
    </div>


    <div id="flow-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="flow-diagram1"></div>
            <div id="flow-diagram2"></div>
        </div>
    </div>

    <div style="float: left; width: 61%;">
        <h3>Run SipP Scripts</h3>
        <p>uac: <span> {{ print_uac_command }}</span></p>
        <p>uas: <span> {{ print_uas_command }} </span></p>

        <form method="post" action="{% url 'index' %}" style="float: left; margin-bottom: 10px;">
            {% csrf_token %}
            <button type="submit" name="runScript" value="UAS">Run UAS</button>
            <button type="submit" name="runScript" value="UAC">Run UAC</button>
        </form>
        <!-- Error Modal -->
        {% if sipp_error %}

            <div id="sippErrorModal" class="modal" style="display: block;">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <div>
                <h3 style="color: darkred;">SIPp Error</h3>
                <pre style="white-space: pre-wrap; font-family: monospace; color: darkred;">{{ sipp_error }}</pre>
                </div>
            </div>
            </div>

        {% endif %}
        <div style="clear: both;"></div>
        <h3>Running SipP Processes:</h3>
        {% if sipp_processes %}
            <ul id="running-sipp-list">
                {% for process in sipp_processes %}
                    <li>
                        pid: {{ process.pid }}, {{ process.command_line }}
                        <form method="post" action="{% url 'index' %}">
                            {% csrf_token %}
                            <label class="label1">{{ process.script_name }}</label>
                            <input type="hidden" name="script_name" value="{{ process.script_name}}">
                            <input type="hidden" name="pid_to_kill" value="{{ process.pid }}">
                            <input type="hidden" name="cport" value="{{ process.cport }}">
                            <input type="hidden" name="mcalls" value="{{ process.mcalls }}">
                            <input type="submit" name="send_signal" value="Kill">
                            <input type ="submit" name="send_signal" value="CheckOutput" formtarget="_blank">
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No SipP processes currently running.</p>
        {% endif %}

    </div>
    


    <script>

        //Submit the xml name as soon as selected
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('id_select_uac').addEventListener('change', function() {
                var submitButton = document.getElementById("save_config");
                submitButton.click();
            });
            document.getElementById('id_select_uas').addEventListener('change', function() {
                var submitButton = document.getElementById("save_config");
                submitButton.click();
            });
        });


        //show-hide MoreOptions Form
        const showButton = document.getElementById("showMoreOptions");
        // const hideButton = document.getElementById("hideMoreOptions");
        const MoreOptions = document.getElementById("MoreOptions");
      
        // Function to show the div
        function showDiv() {
            event.preventDefault();
            MoreOptions.style.display = "block";
        }
      
        // Function to hide the div
        function hideButton() {
            event.preventDefault();
            showButton.style.display = "none";
        }
      
        // Add click event listeners to the buttons
        showButton.addEventListener("click", showDiv);
        showButton.addEventListener("click", hideButton);


        document.addEventListener("keydown", function(event) {
        // Check if the key pressed is Enter
            if (event.key === "Enter") {
                // Prevent the default behavior of the Enter key
                event.preventDefault();
                var submitButton = document.getElementById("save_config");
                submitButton.click();
            }
        });

        let kpacketId = 1; // used in sequence-diagram-kmod2.js

        // Closing modal for sipp error
        const modal = document.getElementById('sippErrorModal');

        function closeModal() {
            modal.style.display = 'none';
        }

        // Close modal when clicking outside the content
        window.onclick = function(event) {
            if (event.target === modal) {
            modal.style.display = 'none';
            }
        }

      </script>

      <script src="{% static 'sdjs/snap.svg-min.js' %}"></script>
      <script src="{% static 'sdjs/underscore-min.js' %}"></script>
      <script src="{% static 'sdjs/sequence-diagram-kmod2.js' %}"></script>
      <script src="{% static 'kflow.js' %}"></script>      

</body>
</html>