<!-- run_script_template.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Modify XML</title>
</head>
<body>
    <h2>Modify XML</h2>
    <div class="menubar" style="margin: 10px;">
        <a style="padding: 10px;" href="/">Home</a>
        <a style="padding: 10px;" href="/run-script">Run Scripts</a>
        <a style="padding: 10px;" href="/modify-xml">Modify Xml</a>
    </div>    

    <!-- Form for selecting xml file to modify-->
    {% if not modifySelectedHeaderForSipMsgsForm %}
    <form method="post" style="margin-top: 15px">
        {% csrf_token %}
        <p>{{ modifyXmlForm.select_uac }}
        <button type="submit" name="selectXml" value="modifyUAC">Modify UAC</button></p>
        <p>{{ modifyXmlForm.select_uas }}
        <button type="submit" name="selectXml" value="modifyUAS">Modify UAS</button></p>
        <br/>
    </form>
    {% endif %}


    {% if modifyHeaderFormData %}
    <h3>Selected xml file is: <b>{{ modifyXml }}</b></h3>
    <form method="post">
        {% csrf_token %}
        {{ modifyHeaderFormData.whichHeader }}
        <button type="submit" name="modifyXmlSubmit" value="headerToModify">Modify Header</button>
    </form>
        {% if modifySelectedHeaderForSipMsgsForm %}
            {% if not headersBySipMessage %}
            <br>Header not found in selected xml<br><br>
            {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ modifySelectedHeaderForSipMsgsForm.as_p }}
            <button type="submit" name="modifiedHeaderDone" value="modifiedHeaderDone">Save</button> Or <br>
            <label for="text_input">Save as new file: {{ modifyXml_noext }}_</label>
            <input type="text" id="newXmlFileName" name="newXmlFileName" maxlength="10" value="new"><span>.xml</span>
            <button type="submit" name="modifiedHeaderDone" value="modifiedHeaderDoneNewFile">Save as</button>
        </form>
        {% endif %}
    {% endif %}

    {% if modified_headers %}
    Successfully modified {{ modified_headers }}
    {% endif %}

<br>
<br>

    <form method="POST">
        {% if modifyHeaderFormData or modified_headers %}
        {% csrf_token %}
        <button type="submit" name="modifyXmlSubmit" value="xmlEditor">Open in XML Editor</button>
        <button type="submit" name="modifyXmlSubmit" value="doneModify">Done</button>
        {% endif %}
    </form>
    <br />


</body>
</html>
