<!-- run_script_template.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Run Scripts</title>
    <title>Modify XML</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    {% include "header.html" %}
    <div class="menubar">
        <a href="/">Home</a>
        <a class="active" href="/run-script">Run Scripts</a>
        <a href="/modify-xml">Modify Xml</a>
        <a href="/create-scenario-xml">Create Xml</a>
    </div>

    <p>uac: <span> {{ print_uac_command }}</span></p>
    <p>uas: <span> {{ print_uas_command }} </span></p>
    <br />

    <form method="post" action="{% url 'run-script' %}" style="float: left; margin-right: 50px;">
        {% csrf_token %}
        <input type="hidden" name="script" value="UAS">
        <input type="submit" value="Run UAS">
    </form>

    <form method="post" action="{% url 'run-script' %}" style="float: left; margin-right: 50px;">
        {% csrf_token %}
        <input type="hidden" name="script" value="UAC">
        <input type="submit" value="Run UAC">
    </form>
    
    <div style="clear:both; max-width: 800px; padding-top: 20px;">    
    {{ sipp_error }}
    </div>

    <div style="clear:both;"></div>
    <h3>Running SipP Processes:</h3>
    {% if sipp_processes %}
        <ul>
            {% for process in sipp_processes %}
                <li>
                    pid: {{ process.pid }}, {{ process.command_line }}
                    
                    <form method="post" action="{% url 'run-script' %}">
                        {% csrf_token %}
                        <input type="hidden" name="script_name" value="{{ process.script_name}}">
                        <input type="hidden" name="pid_to_kill" value="{{ process.pid }}">
                        <input type="submit" name="send_signal" value="Kill">
                        <input type ="submit" name="send_signal" value="CheckOutput" formtarget="_blank">
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No SipP processes currently running.</p>
    {% endif %}

    <!-- Add more forms for other scripts as needed -->

</body>
</html>
