<!DOCTYPE html>
<html>
<head>
    <title>XML Flow Output</title>
</head>
<body>
    <h1>XML Call Flow:</h1>
    <pre style="float: left; margin-right: 20px;">
        <h2 style="margin-left: 50px;">UAC Scenario: {{ selectUAC }}</h2>
        {% for line in uacflow %}
            {{ line }}<br />
        {% endfor %}
    </pre>
    <pre style="float:left;">
        <h2 style="margin-left: 50px;">UAS Scenario: {{ selectUAS }}</h2>
        {% for line in uasflow %}
            {{ line }}<br />
        {% endfor %}
    </pre>
</body>
</html>