<!DOCTYPE html>
<html>
<head>
    <title>{{ log_name }}</title>
</head>
<body>
    <h3>Running SIPp Processes:</h3>
    {{ sipp_processes }}
    <br>
    {{ file_path }}
    <br>
    {% if pid %}

        <form method="post" action="{% url 'display_sipp_screen' pid xml %}" id="checkSignalForm">
            {% csrf_token %}
            <input type="hidden" name="pid_to_kill" value="{{ pid }}">
            <input type ="submit" name="send_signal" value="CheckOutput">
            <input type="submit" name="send_signal" value="Kill">
        </form>
    <!-- Add a single button for toggling auto refresh -->
    {% else %}
        <p>No SIPp processes currently running.</p>
    {% endif %}
    <button onclick="toggleAutoRefresh()" id="autoRefreshButton">Start Auto Refresh</button>
    <pre>
        {{ content }}
    </pre>




<!-- JavaScript to handle auto refresh -->
<script>
var autoRefreshInterval;  // Variable to store the auto refresh interval

function submitCheckSignalForm() {
    var form = document.getElementById('checkSignalForm');
    var checkOutputButton = form.querySelector('input[name="send_signal"][value="CheckOutput"]');
    var clickEvent = new MouseEvent('click', {
        view: window,
        bubbles: true,
        cancelable: true
    });
    checkOutputButton.dispatchEvent(clickEvent);
}

function startAutoRefresh() {
    // Submit the form every 3 seconds
    autoRefreshInterval = setInterval(submitCheckSignalForm, 3000);
    updateButtonLabel(); // Update the button label to "Stop Auto Refresh"
}

function stopAutoRefresh() {
    // Stop the auto refresh
    clearInterval(autoRefreshInterval);
    autoRefreshInterval = null;
    updateButtonLabel(); // Update the button label to "Start Auto Refresh"
}

function toggleAutoRefresh() {
    if (autoRefreshInterval) {
        // If auto refresh is running, stop it
        stopAutoRefresh();
    } else {
        // If auto refresh is not running, start it
        startAutoRefresh();
    }
}

function updateButtonLabel() {
    var button = document.getElementById('autoRefreshButton');
    if (autoRefreshInterval) {
        // If auto refresh is running, set the button label to "Stop Auto Refresh"
        button.textContent = "Stop Auto Refresh";
    } else {
        // If auto refresh is not running, set the button label to "Start Auto Refresh"
        button.textContent = "Start Auto Refresh";
    }
}

// Call startAutoRefresh when the page loads (if you want auto refresh to start by default)
document.addEventListener('DOMContentLoaded', startAutoRefresh);
</script>


</body>
</html>
