<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    {% include "header.html" %}
    <div class="menubar">
        <a href="/">Home</a>
        <a href="/run-script">Run Scripts</a>
        <a class="active" href="/modify-xml">Modify Xml</a>
    </div>
    <h3>Upload new xml</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if xml_upload_form.file.errors %}
        <ul class="errorlist">
            {% for error in xml_upload_form.file.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {{ xml_upload_form.file }}
        <button type="submit" name="submitType" value="upload">Upload</button>
        (Hint: File name should start with "uac" or "uas".)
    </form>

    {% if upload_success %}
        <p class="success-message">File uploaded successfully!</p>
    {% endif %}

<div>

    <h3>XML List</h3>
    <ul>
        {% for xml_name in xml_list %}
            <li style="padding:5px;">
                <form method="post">
                    {% csrf_token %}
                    {{ xml_name }} &nbsp;&nbsp;
                    <input type="hidden" name="xml_name" value="{{ xml_name }}">
                    <button style="font-size: 10px;" type="submit" name="submitType" value="edit">Edit</button>
                    <button style="font-size: 10px;" type="submit" name="submitType" value="delete" onclick="return confirm('Are you sure you want to delete this file : {{ xml_name }}?')">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>

</div>
</body>
</html>
