
html {
    font-family: sans-serif;
    color: #49443d;
    background-color: #f8f6f2;
}
body {
    margin: 10px;
}
h1 {margin: 0;}
h1 a {
    color: #ff943f;
    text-decoration: underline #aeaeae;}

.menubar {
    overflow: hidden;
    background-color: #ff943f;
    margin-top: 10px;
  }
  
  .menubar a {
    float: left;
    color: #f8f6f2;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .menubar a:hover {
    background-color: #ddd;
    color: #615a50;
  }
  
  .menubar a.active {
    background-color: #71695e;
    color: white;
  }

.newpageh1 {font-family: sans-serif;
    color: #ff943f; font-size: 18px; background-color: #f8f6f2;
    padding: 5px;}

.savebuttons {margin-top:12px; float: left;}

.kbutton {
  padding: 10px 16px;
  background-color: #ddd;
  border: 2px solid #71695e;
  color: #3b3b3b;
  font-size: 16px;
  display: inline-block;
  }

.kbutton:hover {
    background-color: #71695e;
    color: #ffffff;
  }

.xmlname {color:#331d0c;}